.toggle {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;

    padding: 0.5rem;

    width: 6rem;
    height: 3rem;

    background-color: var(--background);
    border-radius: 8rem;
}

.toggleActive {
    justify-content: flex-end;
}

.handle {
    width: 2rem;
    height: 2rem;

    background-color: var(--pink);
    box-shadow: 0 0 8px 4px rgba(var(--pink-rgb), 0.3);
    border-radius: 50%;
}
