.home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 16rem);
    gap: 2rem;

    padding: 2rem 0;

    height: 400vh;
}

.space {
    grid-column: span 4;
    grid-row: span 2;

    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 800px;
}
